extends layout

block content
  h1= title
  - var image_names=["s1","s2","s3","s4","s5"];
  - for (let i = 0; i < 3; i++) {
     - var j=Math.floor(Math.random()*5)
     - var Student=image_names[j]
     img(src=`images/${Student}.jpg`,alt=`${Student}`,height=300,width=300)
  - }